<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title><%= attributes.title %></title>
  <meta name="description" content="<%= attributes.description %>">
  <link href="data:image/x-icon;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQEAYAAABPYyMiAAAABmJLR0T///////8JWPfcAAAACXBIWXMAAABIAAAASABGyWs+AAAAF0lEQVRIx2NgGAWjYBSMglEwCkbBSAcACBAAAeaR9cIAAAAASUVORK5CYII=" rel="icon" type="image/x-icon" />
  <% if (attributes.css) { %>
    <% (attributes.css.split(' ')).map(css => { %>
    <link rel="stylesheet" href="<%= css %>">
    <% }) %>
    <% } else { %>
  <link rel="stylesheet" href="/style.css">
  <% } %>
  <meta property="og:title" content="<%= attributes.title %>">
  <meta property="og:image" content="<%= attributes.image_url %>">
  <meta property="og:image:alt" content="<%= attributes.image_alt %>">
  <meta property="og:description" content="<%= attributes.description %>">

  <meta propery="twitter:card" content="summary_large_image">
  
  <meta propery="twitter:url" content="<%= attributes.url %>">
  <meta propery="twitter:title" content="<%= attributes.title %>">
  <meta propery="twitter:description" content="<%= attributes.description %>">
  <meta propery="twitter:image" content="<%= attributes.image_url %>">

  <% (attributes.scripts || []).map(s => { %>
  <script defer src="<%= s %>"><script><% }) %>
  <% if (attributes.code) { %>
  <link rel="stylesheet"
        href="//cdn.jsdelivr.net/gh/highlightjs/cdn-release@10.2.0/build/styles/agate.min.css">
  <script src="//cdn.jsdelivr.net/gh/highlightjs/cdn-release@10.2.0/build/highlight.min.js"></script>     
  <script>hljs.initHighlightingOnLoad();</script>  
  <% } %>
</head>

<body>
  <div id="wrapper">
  <%- content %>
  </div> 
</body>

</html>
