<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title><%= attributes.title %></title>
  <meta name="description" content="<%= attributes.description %>">
  <link rel="icon" type="image/png" href="https://placehold.it/32/32">
  <link rel="stylesheet" href="<%= attributes.css || '/style.css' %>">
  <meta property="og:title" content="<%= attributes.title %>">
  <meta property="og:image" content="<%= attributes.image_url %>">
  <meta property="og:image:alt" content="<%= attributes.image_alt %>">
  <meta property="og:description" content="<%= attributes.description %>">
</head>

<body style="width: 70%;margin: auto">
  <div id="wrapper">
  <%- content %>
  </div> 
</body>

</html>
